<div class="row">
  <h1>bcMaster: Bitcoin Trading Client</h1>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= image_tag(asset_path("bitcoin.png"), alt: "bcMaster-Logo", title: "bcMaster-Logo") %>
  </div>
  <div class="col-sm-6 right">
    <% if !@credentials %>
      <%= render 'login' %>
    <% end %>
  </div>
</div>
