<div class="row">
  <h1>
    bcMaster: Bitcoin Trading Client </br>
    <small>BTC Buy: $<%= @btce_buy %> Sell: $<%= @btce_sell %></small>
  </h1>
</div>
<div class="row">
  <div class="col-sm-7">
    <%= image_tag(asset_path("bitcoin.png"), alt: "bcMaster-Logo", title: "bcMaster-Logo") %>
  </div>
  <div class="col-sm-5">
    <% if @credentials.nil? %>
      <%= render 'login' %>
    <% end %>
  </div>
</div>
