<div class="row">
  <div ><%= render 'account_info' %></div>
</div>
<div class="row">
  <% if @table %>
    <div><%= display_standard_table(@table[:columns], @table[:collection]) %></div>
  <% end %>
</div>
