<%= content_for :title do %>
  Trade
<% end %>
<div class="row">
  <h1><%= @title %></h1>
</div>
<div class="row">
  <% if @table %>
    <div><%= display_standard_table(@table[:columns], @table[:collection]) %></div>
  <% end %>
</div>
