<h1 class="title">Sucessfully signed-in</h1>

<p>
  The user entered the API Key: <%= @apikey %> and the password: <%= @password %>.
</p>

<h2>Trade</h2>
<h3>getInfo</h3>
<%= @btce_trade['getInfo'] %>
<h3>ActiveOrders</h3>
<%= @btce_trade['ActiveOrders'] %>
