<div class="text">
  <h2>About</h2>

  <p>This website has been programmed in the context of a case study out of the subject “Methods of Programming” in the third semester of the extra-occupational study course in Computer Science at the Zurich University of Applied Sciences (ZHAW).</p>
</div>